/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.rails
 *= require twitter/bootstrap
 *= require_tree .
*/
div {
    background: green;
}

/* jQuery Validation error*/
input.error{
    border-color: #B94A48 !important;
}

button.close {
    font-size: 16px !important;
}

#footer-divider {
    position: relative;
    background: url("divider.png") repeat-x;
    height:14px;
    margin-bottom: 50px;
}

#footer-background {
    position:absolute;
    z-index:-2;
    width:100%;
    top:-300px;
    left:0;
}

#footer-background-gradient {
    position: absolute;
    z-index:-1;
    top:0;
    left:0;
    width:100%;
    height:100px;
    background-image: -webkit-gradient( linear, left top, left bottom, from(rgba(50, 50, 50, 0.8)), to(rgba(80, 80, 80, 0.0)));
    background-image: -moz-linear-gradient( rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 95%);
}

footer {
    width:100%;
    position:absolute;
    height:400px;
    overflow:hidden;
}
footer span {
    font-family: 'Lobster', 'serif';
    font-size: 72px;
    color:white;
}