#aims {
    font-family: 'Sanchez', serif;
}
#aims h2 {
    font-family: 'Sanchez', serif;
}

#aims .row.statistics {
    margin-top: 10px;
}

#aims .row.statistics span.lbl {
    font-size: 18px;
}
#aims .row.statistics span.value {
    font-size: 22px;
    font-weight: bold;
    font-style: italic;
}
#aims .row.statistics span.note {
    font-size: 14px;
}

.green {
    color:green;
}

.gray {
    color: graytext;
}

#chart_div {
  text-align: center;
  width: 100%;
  height: 300px;
  line-height: 300px;
}
